.c-ability {
	margin-top: 10px;
	min-width: 100px;
}

.c-ability__modifier {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	padding-top: 20px;
	min-height: 65px;
}

.c-ability__value {
	position: absolute;
	top: -10px;
	left: 50%;
	@include transform(translateX(-50%));
	width: 60px;
	border: 1px solid $border-color;
	background: white;
	text-align: center;
	padding: 6px 4px;
	font-size: 14px;
	border-radius: 4px;
}