.c-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.c-page__column {
	flex-basis: 330px;
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	margin: 10px;

	@media print {
		flex-basis: 200px;
		padding: 0;
		border: 1px solid black; // DEBUG
	}
}

.c-page__box {
	background-color: #f0f0f0;
	border-radius: 10px;
	padding: 10px 10px 0;
	width: 100%;
	margin-bottom: 10px;
}

// Inside columns
.c-page__row {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 10px;

	> *:not(:last-child) {
		margin-right: 10px; // Space between elements
	}

	@media print {
		padding: 1px;
	}
}