.c-tabs {
	width: 100%;
	overflow: auto;
}

.c-tabs__tab-titles {
	min-width: 100%;
	display: block;
	overflow-x: auto;
	white-space: nowrap;
	border-bottom: 1px solid #ccc;
}

.c-tabs__tab-title {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.c-tabs__tab-title--active {
	&:after {
		content: '';
		display: block;
		position: absolute;
		height: 2px;
		bottom: 0;
		@include fill-parent(horizontal);
		background-color: #0000FF; // TODO
	}
}

.c-tabs__tab-link {
	$separator-width: 1px;

	font-size: 18px;
	line-height: 20px;
	font-weight: lighter;
	padding: 12px 25px;
	margin-right: $separator-width;
	position: relative;
	white-space: nowrap;

	&,
	&:hover,
	&:active {
		color: $primary-font-color;
		text-decoration: none;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		width: $separator-width;
		background-color: #ccc;
		top: 10px;
		bottom: 10px;
		left: 100%;
	}
}

.c-tabs__item--hidden {
	display: none !important;
}