<menu character="vm.character" is-valid="vm.isFormValid()"></menu>
<h1 class="c-title">Character Sheet</h1>

<form name="characterBuilder">
    <personal-details character="vm.character"></personal-details>

    <div class="c-page">
        <div class="c-page__column">
            <abilities character="vm.character"></abilities>
        </div>

        <div class="c-page__column">
            <combat-stats character="vm.character"></combat-stats>
            <weapons-list character="vm.character"></weapons-list>
        </div>
        <div class="c-page__column">
            <personality-traits character="vm.character"></personality-traits>
            <labelled-box label="Features & Traits">
                <textarea class="o-ruled-input" ng-model="vm.character.features"></textarea>
            </labelled-box>
        </div>
    </div>

</form>