<div class="o-box">
    <div class="c-page__row">
        <labelled-box label="Personality Traits">
            <textarea class="o-ruled-input" ng-model="character.personality.traits"></textarea>
        </labelled-box>
    </div>
    <div class="c-page__row">
        <labelled-box label="Ideals">
            <textarea class="o-ruled-input" ng-model="character.personality.ideals"></textarea>
        </labelled-box>
    </div>
    <div class="c-page__row">
        <labelled-box label="Bonds">
            <textarea class="o-ruled-input" ng-model="character.personality.bonds"></textarea>
        </labelled-box>
    </div>
    <div class="c-page__row">
        <labelled-box label="Flaws">
            <textarea class="o-ruled-input" ng-model="character.personality.flaws"></textarea>
        </labelled-box>
    </div>
</div>