.o-ability {
	background-color: white;
	display: flex;
	border: 1px solid $border-color;
	border-radius: 3px;
	width: 100px;
	height: 100px;
	position: relative;

	flex-direction: column;
	flex-wrap: nowrap;
}
.o-ability__name {
	order: 3;
	width: 100%;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	padding: 4px;
}
.o-ability__value {
	order: 1;
	border: none;
	outline: none;
	border-bottom: 1px solid $border-color;
	width: 100%;
	background: none;
	text-align: center;
	padding: 6px 4px;
}
.o-ability__modifier {
	order: 2;
	width: 100%;
	flex-grow: 1;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}