.o-character-value {
	height: 50px;
	width: 100px; // Width of a labelled box
	background: none;
	border: none;
	outline: none;
	font-size: 30px;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
}