.o-fake-checkbox {
	> input[type=checkbox] {
		display: none;
	}
}
.o-fake-checkbox__element {
	display: inline-block;
	width: 12px;
	height: 12px;
	position: relative;
	top: 2px;

	border-radius: 50%;
	border: 2px solid $border-color;

	:checked + & {
		background-color: #828282;
	}

	@media print {
		border-width: 1px;
		width: 8px;
		height: 8px;
	}
}