.o-labelled-box {
	min-width: 80px;
	border: 2px solid $border-color;
	border-radius: 6px;

	position: relative;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	background-color: white;
}

.o-labelled-box__content {
	order: 1;
	width: 100%;
	flex-grow: 1;
	position: relative;
}

.o-labelled-box__label {
	order: 2;
	width: 100%;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	padding: 4px;
}